@model DDMD.Web.Models.Post
@{
    ViewData["Title"] = "Opret opslag";
}

<h2>Opret nyt opslag</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Author" class="form-label">Navn</label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Content" class="form-label">Opslagstekst</label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Upload billede (valgfrit)</label>
        <input type="file" name="imageFile" class="form-control" />
    </div>


    <button type="submit" class="btn btn-primary">Opret opslag</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
